/* RecordingAnimation.css */
.audio-recording-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
}

.audio-bars {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100px; /* Adjust width as needed */
}

.audio-bar {
  width: 10px;
  height: 50px; /* Adjust height as needed */
  background-color: #000;
  margin: 0 5px; /* Adjust margin as needed */
  animation: audioBarAnimation 1s infinite alternate; /* Adjust animation duration as needed */
}

@keyframes audioBarAnimation {
  from {
    height: 50px; /* Adjust height as needed */
  }
  to {
    height: 80px; /* Adjust height as needed */
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader span {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000; /* Change color as needed */
  animation: loaderAnim 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader span:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loader span:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loader span:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loaderAnim {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
